{% extends "dash/dashboard_base.html" %}

{% block dash_content %}
    <section class="content-header">
        <h3>Dashboard</h3>
    </section>

    <div class="row p-3">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <div class="box box-light">
                <div class="box-body">
                    <h4>{{ "{:,}".format(stats.total_clips) }}</h4>
                    <p>Total Clips</p>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <div class="box box-light">
                <div class="box-body">
                    <h4>{{ "{:,}".format(stats.total_views) }}</h4>
                    <p>Total Views</p>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <div class="box box-light">
                <div class="box-body">
                    <h4>{{ "{:,}".format(stats.unique_clippers) }}</h4>
                    <p>Unique Clippers</p>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <div class="box box-light">
                <div class="box-body">
                    <h4>{{ "{:,}".format(stats.total_upvotes) }}</h4>
                    <p>Total Upvotes</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <div class="box box-light">
                <div class="box-body">
                    <h4>{{ "{:,}".format(stats.unsorted_clips) }}</h4>
                    <p>Unsorted Clips</p>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <div class="box box-light">
                <div class="box-body">
                    <h4>{{ "{:,}".format(stats.clips_without_category) }}</h4>
                    <p>Clips without Category</p>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <div class="box box-light">
                <div class="box-body">
                    <h4>{{ "{:,}".format(stats.clips_without_themes) }}</h4>
                    <p>Clips without Themes</p>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <div class="box box-light">
                <div class="box-body">
                    <h4>{{ "{:,}".format(stats.clips_without_subjects) }}</h4>
                    <p>Clips without Subjects</p>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <div class="box box-light">
                <div class="box-body">
                    <h4>{{ "{:,}".format(stats.clips_without_layout) }}</h4>
                    <p>Clips without Layout</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}