{% extends "base.html" %}

{% block app_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}?v=20251129">
    <div class="container pt-3" style="position: relative; z-index: auto;">
        <div class="row">
            <div class="col-md-9">
                <h4>About ClipRepo</h4>
                <p>ClipRepo (also called Alveus Clips) is a personal project of mine (Wazix) to improve the searchability of Twitch clips.</p><br>
                <p>This is currently exclusive to AlveusSanctuary clips, but I have hopes to expand it out in the future.</p><br>
                <p>The site is not an official Alveus site and all development and sorting is being done by volunteers. If you are interested in contributing, please join the Discord!</p><br>
                <p>I will likely make the code open source at some point, for now you can report issues and suggest features on the ClipRepo Discord.</p>
            </div>
            <div class="col-md-3">
                <h4>Links</h4>
                <ul>
                    <li><a href="https://discord.gg/WQepmKFYcv" target="_blank">ClipRepo Discord</a></li>
                    <li><a href="https://twitch.tv/AlveusSanctuary" target="_blank">Alveus Sanctuary Twitch</a></li>
                    <li><a href="https://www.alveussanctuary.org/" target="_blank">Alveus Sanctuary Website</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}