{% extends "base.html" %}

{% block app_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}?v=20251129">
    <div class="container-fluid pt-0 d-flex flex-row height-sub-header" style="margin: 0; padding: 0;">
        <div class="flex-grow-1 d-flex flex-column align-items-center justify-content-center" id="clip-viewer" style="min-width: 0; min-height: 100%; z-index: 1">
            {% include 'main/clip_viewer.html' %}
        </div>
        <div id="sidebar" style="min-height: 100%; width: 320px; z-index: 1050; flex-shrink: 0;">
            <form id="clip-filter-form"
                hx-post="/clip-queue/filter"
                hx-target="#clip-viewer"
                hx-swap="innerHTML"
                class="p-3"
                style="min-height: 100%; background: #333333; overflow-y: auto;">
                <div class="mb-2">
                    <label for="sort-select" class="form-label text-white">Sort By</label>
                    <select id="sort-select" name="sort" class="form-control selectpicker mb-2"
                        data-style="btn-alveus-tan"
                        data-width="100%">
                        <option value="views" {% if sort == 'views' %}selected{% endif %}>Most Viewed</option>
                        <option value="new" {% if sort == 'new' %}selected{% endif %}>Newest</option>
                        <option value="old" {% if sort == 'old' %}selected{% endif %}>Oldest</option>
                        <option value="likes" {% if sort == 'likes' %}selected{% endif %}>Most Liked</option>
                    </select>
                    <label for="timeframe-select" class="form-label text-white">Time Frame</label>
                    <select id="timeframe-select" name="timeframe" class="form-control selectpicker mb-2"
                        data-style="btn-alveus-tan"
                        data-width="100%">
                        <option value="all" {% if timeframe == 'all' %}selected{% endif %}>All Time</option>
                        <option value="24h" {% if timeframe == '24h' %}selected{% endif %}>Last 24 Hours</option>
                        <option value="7d" {% if timeframe == '7d' %}selected{% endif %}>Last Week</option>
                        <option value="30d" {% if timeframe == '30d' %}selected{% endif %}>Last Month</option>
                        <option value="1y" {% if timeframe == '1y' %}selected{% endif %}>Last Year</option>
                    </select>
                    {% if categories %}
                            <label for="category-select text-white" class="form-label">Category</label>
                            <select id="category-select" name="category" class="form-control selectpicker mb-2"
                                data-style="btn-alveus-tan"
                                data-width="100%">
                                <option value="">Select a category</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                        {% if themes %}
                            <label for="themes-select" class="form-label text-white">Themes</label>
                            <select id="themes-select" name="themes" class="form-control selectpicker mb-2"
                                data-style="btn-alveus-tan"
                                data-width="100%"
                                multiple
                                title="Select theme(s)"
                                data-selected-text-format="count > 3">
                                {% for theme in themes %}
                                    <option value="{{ theme.id }}">{{ theme.name }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                        {% if subjects %}
                            <label for="subjects-select" class="form-label text-white">Subjects</label>
                            <select id="subjects-select" name="subjects" class="form-control selectpicker mb-2"
                                data-style="btn-alveus-tan"
                                data-width="100%"
                                multiple
                                data-live-search="true"
                                title="Select subject(s)"
                                data-selected-text-format="count > 3">
                                {% for subject_category in subject_categories %}
                                    <optgroup label="{{ subject_category[0] }}">
                                        {% for subject in subject_category[1] %}
                                            <option value="{{ subject.id }}" data-subtext="{{ subject.subtext }}" data-tokens="{{ subject.keywords }}">{{ subject.name }}</option>
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                        {% endif %}
                        {% if layouts %}
                            <label for="layout-select" class="form-label text-white">Layout</label>
                            <select id="layout-select" name="layout" class="form-control selectpicker mb-2"
                                data-style="btn-alveus-tan"
                                data-width="100%">
                                <option value="">Select a layout</option>
                                {% for layout in layouts %}
                                    <option value="{{ layout.id }}">{{ layout.name }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                </div>
                <div class="mb-2">
                    <label class="form-label text-white">Search</label>
                    <input type="text" name="search" class="form-control" placeholder="Search clips">
                </div>
                <button type="submit" class="btn btn-alveus-tan w-100">Apply Filters</button>
            </form>
        </div>
    </div>
{% endblock %}