{% extends "dash/dashboard_base.html" %}

{% block dash_content %}
    <section class="content-header">
        <h3>Clips</h3>
    </section>
    <section class="main-content">
        <div class="row">
            <div class="col-md-10">
                <div class="box box-light">
                    <div class="box-body">
                        <div class="table-toolbar">
                            <span></span>
                            <span>
                                <div class="input-group">
                                    <input type="search" class="form-control search-bar" id="table-search" placeholder="Search"">
                                    <a href="?page={{ num }}&size={{ size }}&order={{ order }}&sort={{ sort }}&search={{ search }}" class="btn btn-alveus-green" role="button" id="filterButton">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </a>
                                </div>
                            </span>
                        </div>
                        <div class="table-pagination">
                            <span>
                                <span>Showing {{ clips.first }} to {{ clips.last }} of {{ clips.total }} rows</span>
                                <span class="dropdown">
                                    <button class="btn btn-alveus-green dropdown-toggle" type="button" id="sizeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ clips.per_page }}
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="sizeDropdown">
                                        <li><a class="dropdown-item" href="?page={{ num }}&size=5&order={{ order }}&sort={{ sort }}&search={{ search }}">5</a></li>
                                        <li><a class="dropdown-item" href="?page={{ num }}&size=10&order={{ order }}&sort={{ sort }}&search={{ search }}">10</a></li>
                                        <li><a class="dropdown-item" href="?page={{ num }}&size=20&order={{ order }}&sort={{ sort }}&search={{ search }}">20</a></li>
                                        <li><a class="dropdown-item" href="?page={{ num }}&size=30&order={{ order }}&sort={{ sort }}&search={{ search }}">30</a></li>
                                        <li><a class="dropdown-item" href="?page={{ num }}&size=50&order={{ order }}&sort={{ sort }}&search={{ search }}">50</a></li>
                                        <li><a class="dropdown-item" href="?page={{ num }}&size=100&order={{ order }}&sort={{ sort }}&search={{ search }}">100</a></li>
                                    </ul>
                                    per page
                                </span>
                            </span>
                            <span id="tablePaginationTop">
                                {% if clips.per_page < clips.total%}
                                <div class="btn-group" role="group">
                                    {% for num in pages %}
                                        {% if num == None %}
                                            <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">...</a>
                                        {% elif num == page %}
                                            <a href="#" class="btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true">{{ num }}</a>
                                        {% else %}
                                            <a href="?page={{ num }}&size={{ size }}&order={{ order }}&sort={{ sort }}&search={{ search }}" class="btn btn-alveus-green" tabindex="-1" role="button">{{ num }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </span>
                        </div>
                        <div class="table-container">
                            <table class="table table-striped dashboard-table" id="clipTable">
                                <thead>
                                    <tr>
                                        <th>Actions</th>
                                        {% for key, val in columns|items %}
                                            {% if key in ['category', 'status', 'themes', 'subjects', 'layout'] %}
                                                <th class="text-center">{{ val }}</th>
                                            {% else %}
                                                {% if key == sort %}
                                                    {% if order == 'desc' %}
                                                    <th><a href="?page={{ num }}&size={{ size }}&order=asc&sort={{ key }}&search={{ search }}" class="btn" tabindex="-1" role="button">{{val}}<i class="fas fa-sort-down"></i></a></th>
                                                    {% else %}
                                                    <th><a href="?page={{ num }}&size={{ size }}&order=desc&sort={{ key }}&search={{ search }}" class="btn" tabindex="-1" role="button">{{val}}<i class="fas fa-sort-up"></i></a></th>
                                                    {% endif %}
                                                {% else %}
                                                    <th><a href="?page={{ num }}&size={{ size }}&order=asc&sort={{ key }}&search={{ search }}" class="btn" tabindex="-1" role="button">{{val}}<i class="fas fa-sort"></i></a></th>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if clips.total > 0 %}
                                        {% for clip in clips %}
                                        <tr>
                                            <td class="table-actions">
                                                <a href="{{ url_for('dash.dash_clips_edit', id=clip.id) }}" class="btn btn-alveus-green" role="button"><i class="fa-solid fa-pen"></i></a>
                                                {% if current_user.rank_id == 4 %}
                                                    <a href="{{ url_for('dash.dash_clips_delete', id=clip.id) }}" class="btn btn-danger" role="button"><i class="fa-solid fa-trash"></i></a>
                                                {% endif %}
                                            </td>
                                            <td>{{ clip.id }}</td>
                                            <td>{{ clip.broadcaster_name }}</td>
                                            <td>{{ clip.creator_name }}</td>
                                            <td><a href="{{ clip.url }}" target="_blank" rel="noopener noreferrer">{{ clip.title }}</a></td>
                                            <td>{{ clip.title_override }}</td>
                                            <td>{{ clip.view_count }}</td>
                                            <td>{{ clip.created_at }}</td>
                                            <td>{{ clip.duration }}</td>
                                            <td>{{ clip.notes }}</td>
                                            <td>{{ clip.category.name }}</td>
                                            <td>{{ clip.status.name }}</td>
                                            <td>
                                                {% for theme in clip.themes %}
                                                    {{ theme.name }}{% if not loop.last %}, {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for subject in clip.subjects %}
                                                    {{ subject.name }}{% if not loop.last %}, {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>{{ clip.layout.name }}</td>
                                            <td>{{ clip.updated_by_user.display_name }}</td>
                                            <td>{{ clip.updated_at }}</td>
                                            <td class="table-clip-twitch-id">{{ clip.twitch_id }}</td>
                                        </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td class="text-center" colspan="100%">No clips found.</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="table-pagination">
                            <span>
                                <span>Showing {{ clips.first }} to {{ clips.last }} of {{ clips.total }} rows</span>
                                <span class="dropup">
                                    <button class="btn btn-alveus-green dropdown-toggle" type="button" id="sizeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ clips.per_page }}
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="sizeDropdown">
                                        <li><a class="dropdown-item" href="?page={{ num }}&size=5&order={{ order }}&sort={{ sort }}&search={{ search }}">5</a></li>
                                        <li><a class="dropdown-item" href="?page={{ num }}&size=10&order={{ order }}&sort={{ sort }}&search={{ search }}">10</a></li>
                                        <li><a class="dropdown-item" href="?page={{ num }}&size=20&order={{ order }}&sort={{ sort }}&search={{ search }}">20</a></li>
                                        <li><a class="dropdown-item" href="?page={{ num }}&size=30&order={{ order }}&sort={{ sort }}&search={{ search }}">30</a></li>
                                        <li><a class="dropdown-item" href="?page={{ num }}&size=50&order={{ order }}&sort={{ sort }}&search={{ search }}">50</a></li>
                                        <li><a class="dropdown-item" href="?page={{ num }}&size=100&order={{ order }}&sort={{ sort }}&search={{ search }}">100</a></li>
                                    </ul>
                                    per page
                                </span>
                            </span>
                            <span id="tablePaginationBottom">
                                <!-- Auto-filled from above -->
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}